* {
    font-family: 'Inter', sans-serif;
    scroll-behavior:smooth !important;
    color: #403F3D;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: #E1D4C9;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

a {
    text-decoration: none;
}

h1 {
    font-style: normal;
    font-weight: 600;
     font-size: 72px;
    color: #E1D4C9;
    line-height: 105%;
    transition: all .5s;
}

.text-accent {
    color: #B0907A;
    font-style: italic;
}

h2 {
    font-size: 60px;
    line-height: 125%;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #403F3D;
    margin-block-start: 0;
    margin-block-end: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 40px 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
}

.nav-menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.anchor-links {
    display: flex;
    justify-content: center;
    flex: 1;
    list-style-type: none;
    gap: 40px;
}

.header__burger-btn {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 8px;
    padding: 0;
    width: 44px;
    height: 44px;
    border: 1px solid #665F55;
    border-radius: 100px;
    background-color: #E1D4C9;
}

.header__burger-btn span {
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #403F3D;
    /* transition: background-color 0.3s, opacity .5s, transform .5s;
    will-change: transform; */
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-4px);
}

.header__burger-btn span:nth-child(2) {
    transform: translateY(4px);
}
.link-menu {
    display: flex;
    height: 24px;
}
.link-menu img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    vertical-align: bottom;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.enjoy {
    border-radius: 40px;
    background: center center/ cover url(./assets/img/img-hero.jpg) no-repeat;
    padding: 100px;
}

.enjoy-content {
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.enjoy p {
    color: #E1D4C9;
}

.enjoy-btn {
    display: flex;
    width: 200px;
    padding: 20px 78px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 0;
    border-radius: 100px;
    background: #E1D4C9;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}

#menu-cup {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}
.carousel-favorites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.carousel-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid #665F55;
    border-radius: 100px;
    cursor: pointer;
    transition: all .9s;
}

.Vector {
    transition: all .9s;
}

.favorite {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    gap: 16px;
    text-align: center;
}

.slider-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-top: 4px;
}

.slider-price {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.first {
    display: flex;
}
.second {
    display: none;
}
.third {
    display: none;
}
.slider-controls {
    display: flex;
    text-align: center;
    gap: 12px;
}

.slider-control {
    height: 4px;
    width: 40px;
    border-radius: 100px;
    background-color: #C1B6AD;
}

.slider-control.active {
    background-color: #665F55;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-img {
    display: grid;
    grid-template: 430px 120px 430px/repeat(2, 1fr);
    gap: 40px;
    transition: all .5s;
}
.about-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.about-1 {
    grid-row: 1 / span 2;
}
.about-2 {
    grid-row: 3;
}
.about-3 {
    grid-row: 1;
}
.about-4 {
    grid-row: 2 / span 2;
}

.about-img img {
    display: block;
    transition: all .3s;
}

.mobile-app {
    display: flex;
    gap: 100px;
    transition: all .5s;
}
.app-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.app-left img {
    width: 200px;
    align-items: center;
    gap: 8px;
}

.app-description {
}

.mobile-store {
    display: flex;
    gap: 20px;
}

.app-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 64px;
    border: 1px solid #665f55;
    border-radius: 100px;
    cursor: pointer;
    transition: all 1s;
    padding: 12px 20px;
}

.mobile_description {
    display: flex;
    flex-direction: column;
}

.little {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}

.name {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%
}

.app-right img{
    width: 630px;
    height: 630px;
}
footer {
    display: flex;
    justify-content: flex-start;
    padding: 100px;
    align-items: stretch;
    gap: 100px;
    border-radius: 40px;
    background: #665F55;
    margin-top: 97px;
    height: auto;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 40px;
}

.footer-left h2 {
    color: #E1D4C9;
}

.social {
    display: flex;
    gap: 12px;
}

.social-btn {
    border: 1px solid #C1B6AD;

}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 50%;
}

h3{
    color: #E1D4C9;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    gap: 16px;

}

.contacts-info a, .contacts-info li{
    color: #E1D4C9;
}
.contacts-info img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.underlinе {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    position:relative;
    border: none;
}

.underlinе:after {
    margin-top: 4px;
    background-color: #403F3D;;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    opacity: 0;
    left:50%;
    position:absolute;
    transition: all .5s ease-in-out;
    transform:translateX(-50%);
}

.footer-under:after {
    background-color: #E1D4C9;
}



@media screen and (hover:hover) {
    .enjoy-btn:hover #menu-cup{
        width: 20px;
        height: 20px;
        opacity: 1;
        transition: all .5s;
    }

    .carousel-btn:hover {
        background: #665F55;
    }
    .carousel-btn:hover .Vector {
        stroke: #E1D4C9;
    }

    .about-img img:hover {
        transform: scale(0.9);
    }

    .app-btn:hover {
        background-color: #665f55;
    }

    .app-btn:hover .mobile-btn {
        color: #c1b6ad;
    }

    .app-btn:hover > svg path {
        fill: #c1b6ad;
    }

    .social-btn:hover {
        background: #E1D4C9;
    }

    .social-btn:hover .socials {
        stroke: #403F3D;
    }

    .underlinе:hover:after {
        opacity: 1;
        width: 100%;
    }
}

@media screen and (max-width: 1360px) {
    .app-right img {
        width: 100%;
        height: 100%;
    }
    .mobile-app {
        gap: 60px;
    }
    .app-left {
        width: 50%;
    }
    .about-img {
        grid-template: 420px 110px 420px/repeat(2, 1fr);
    }
}

@media screen and (max-width: 1180px) {
    .about-img {
        grid-template: 400px 90px 400px/repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 980px) {
    .about-img {
        grid-template: 380px 70px 380px/repeat(2, 1fr);
        gap: 20px;
    }
    .wrapper {
        max-width: 980px;
    }
    .mobile-app {
        flex-direction: column;
        gap: 100px;
    }

    .app-right {
        margin: 0 auto;
    }
    .app-left {
        width: 100%;
    }
    footer {
        flex-direction: column;
        height: auto;
        padding: 100px 60px;
    }
    .footer-left, .footer-right {
        width: 100%;
    }
    .header__burger-btn {
        display: flex;
    }
        /* Burger */

        .nav-menu {
            position: absolute;
            top: -768px;
            background-color: #E1D4C9;
            padding: 20px 40px 60px 40px;
            width: 100%;
            height: 0;
            visibility: hidden;
            /* transition: transform .5s, visibility .5s; */
        }
}

@media screen and (max-width: 769px) {
    .wrapper {
        max-width: 100%;
    }
    .enjoy {
        padding: 100px 60px;
    }
    #menu-cup {
        width: 20px;
        height: 20px;
        opacity: 1;
    }

    .about-img {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .about-2, .about-3 {
        display: none;
    }
    .about-photo {
        max-height: 590px;
    }

}

@media screen and (max-width: 750px) {
    .carousel-left, .carousel-right {
        display: none;
    }
    .carousel-favorites {
        justify-content: space-around;
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        padding: 20px 16px 40px;
    }
    .enjoy {
        padding: 60px 16px;
    }
    .enjoy-content {
        width: 100%;
    }
    h1 {
        font-size: 42px;
        line-height: 115%;
    }
    h2 {
        font-size: 32px;
    }
    .favorite, .favorite img {
        width: 348px;
    }
    .mobile-app {
        gap: 40px;
    }
    .mobile-store {
        flex-direction: column;
    }
    footer {
        padding: 60px 16px;
        gap: 40px;
    }
}

@media screen and (max-width: 380px) {
    .wrapper {
        padding: 20px 16px;
    }


}